.footer-mainContainer {
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    position: absolute;
    width: 100%;

    & span {
        color: var(--color-white);
        font-size: var(--font-small);
        font-weight: var(--font-ligh);
    }
}